* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: #222;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Nav (for desktop) */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* Hamburger (hidden on desktop) (for tablet and mobile) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
}

/* checkbox hidden */
#menu-toggle {
  display: none;
}

/* (Mobile + Tablet) */
@media (max-width: 768px) {
  /* hide desktop nav */
  .nav {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #222;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    display: none;
    /* hidden by default */
  }

  /* show when checkbox checked */
  #menu-toggle:checked + .hamburger + .nav {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}

.title {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  letter-spacing: 3px;
}

.cards {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* H V Blur Color */
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  line-height: 1.5;
}

.card .img {
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Tablet cards */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile cards */
@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.footer {
  margin-top: 40px;
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
